html {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.header-line {
    padding-top: 1.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ed{
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 10em;
}
.start {
    z-index: 2;
    background-color: black;
    border-radius: 10px;
    padding:0.6em 0.7em;
}
.start:hover {
    box-shadow: 0 0 20px #a0a0a0;
    transition-duration: 0.5s;
}
.nav-item {
    color: black;
    text-decoration: none;
    margin-right: 0.5em;
    font-size: 1.5em;
}

.rpic {
    top: 0;
    right: -2em;
    position: absolute;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 55%;
}

.ideas {
    font-size: 5em;
    font-weight: 700;
    padding-top: 0.75em;
    z-index: 1;
}

span {
    font-weight: 700;
    color: #FF5A09;

}

.mono {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 0.25em;
    z-index: 1;
    opacity: 0.6;
    margin-bottom: 2.3em;
}

.button a {
    background-color: #FF5A09;
    border-radius: 0.5em;
    color: #fff;
    text-decoration: none;
    padding: 25px 35px;
    transition-duration: 0.5s;
}

.button {
    z-index: 1;
    width: fit-content;
    height: fit-content;
}

.button a:hover {
    box-shadow: 0 0 20px #000;
    transition-duration: 0.5s;
}

.button a:active {
    transition-duration: 0.5s;
    background-color: red;
}

.take {
    display: flex;
    justify-content: space-between;
    height: 25em;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

.arrow {
    position: absolute;
    left: 70%;
    top: 140%;
    z-index: 0;
    width: fit-content;
}

.arrow img {
    display: block;
}

.pink {
    position: absolute;
    z-index: -10;
    height: 50em;
    width: 90vw;
    top: 20%;
    left: -120%;
    border-radius: 50px;
    background: radial-gradient(#A06BFF, #FFF);
    opacity: 0.3;
    filter: blur(165px);
}

.point {
    position: relative;
    justify-content: space-between;
    z-index: 1;
    max-width: fit-content;
    display: flex;
    width: 50%;
}

.point img {
    width: 110%;
}

.azure {
    position: absolute;
    z-index: -1;
    height: 60vw;
    width: 40vw;
    top: -5%;
    right: 10%;
    border-radius: 50px;
    background: radial-gradient(#48D3FF, #FFF);
    opacity: 0.3;
    filter: blur(165px);
}

.wh {
    z-index: 1;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 15px 35px rgba(8, 8, 42, 0.02);

}

.wh-content {
    font-size: 1.65em;
    font-weight: 550;
    padding: 1em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    white-space: nowrap;
    width: fit-content;
    height: fit-content;
    background: white;
    position: relative;
    z-index: 100;
}

.wh-content:after {
    content: url("assets/vector 1.svg");
    height: 0.2em;
    width: 0.2em;
    position: absolute;
    top: 54%;
    left: 93%;
    z-index: 1;
}

.hero-inner {
    height: 72vh;
    display: flex;
    justify-content: space-between;
}

wh-content p {
    text-align: center;
    margin: auto;
}

.res {
    color: #FF894E;
    font-size: 1.5em;
}

.rec {
    background: white;
    margin-top: -0.5em;
    padding: 4.5em 0em;
    display: flex;
    align-items: center;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 100;
    position: relative;
}

.package {
    font-style: normal;
    font-weight: 700;
    font-size: 2.75em;
}

.service {
    position: relative;
    width: 50%;
    padding-left: 4.9em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15em;
}

.divider {
    width: 0px;
    height: 160px;
    border: 1px solid rgba(8, 8, 42, 0.15);

}
.button{
    border-radius: 15px;
}
.button:hover {
    box-shadow: 0 0 20px #000;
    transition-duration: 0.5s;
}

.sour {
    color: #75EDA6;
    font-size: 1.5em;
}

.service p {
    opacity: 0.6;
    line-height: 1.5;
}

.design {
    position: relative;
    width: 50%;
    padding-left: 4.9em;
}

.add-in h1 {
    font-weight: 700;
    font-size: 2.5em;
    padding-bottom: 0.7em;

}

.add-in {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.4em;
    margin-top: 6em;
    position: relative;
}

.slider-container {
    overflow: hidden;
    height: 33em;
    width:80em;
}

.slider-track {
    display: flex;
    transition: 0.5s ease;
}

.slider-item {
    height: 27em;
    padding: 2.6em;
    margin-right: 0.9em;
    border-radius: 10px;
    background: #F5F5F5;

}

.slider-buttons {
    margin-left: auto;
        margin-right: 3em;
        margin-top: 2em;
}

.btn-prev {
    border: 1px solid rgba(8, 8, 42, 0.25);
    padding: 0.77em 1.3em;
    border-radius: 10px;
    background: #FFF;
    cursor: pointer;
}

.btn-next {
    border: none;
    padding: 0.77em 1.3em;
    background: #FF5A09;
    border-radius: 10px;
    margin-left: 0.9em;
    cursor: pointer;
}

.slider-item h1 {
    font-size: 2em;
    font-weight: 650;
    white-space: nowrap;
}

.slider-item h2 {
    opacity: 0.6;
    padding-top: 0.5em;
}

.img-container {
    position: relative;
    width: fit-content;
}

.img-container img {
    width: 20em;
    height: 17em;
}

.square1 {
    display: flex;
    align-items: center;
    background: #FFF2E4;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0.9em 2.2em;
}

.dollar1 {
    font-size: 2.1em;
    color: #FF5B2E;
    font-weight: 700;
}

.square2 {
    display: flex;
    align-items: center;
    background: #9ACEEB;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0.9em 2.2em;
}

.cart2 {
    background: black;
    color: white;
    padding: 0.45em 0.5em;
    border-radius: 10px;
    font-size: 1.6em;
    text-decoration: none;
}

.cart2 a {
    color: white;
}

.dollar2 {
    font-size: 2.1em;
    color: #00AEBF;
    font-weight: 700;


}

.square3 {
    display: flex;
    align-items: center;
    background: #FFE5E5;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0.9em 2.2em;
}

.dollar3 {
    font-size: 2.1em;
    color: #FF9900;
    font-weight: 700;
}

.roz {
    position: absolute;
    z-index: -100;
    height: 50em;
    width: 45em;
    top: -200;
    right: -15%;
    border-radius: 50px;
    background: radial-gradient(#A06BFF, #FFF);
    opacity: 0.4;
    filter: blur(130px);
}

.additional {
    height: fit-content;
    padding-bottom: 5em;
}

.blue {
    position: absolute;
    z-index: -100;
    height: 50em;
    width: 45em;
    top: 0%;
    right: 45%;
    border-radius: 50px;
    background: radial-gradient(#48D3FF, #FFF);
    opacity: 0.4;
    filter: blur(130px);
}


.scroll-container {
    position: relative;
    height: fit-content;
    overflow: hidden;
    background-color: #fff;
    padding: 5em 10em;
}

.slider-images {
    display: flex;
    width: 250em;
    transition: transform 0.5s ease-in-out;
    overflow-x: hidden;
    justify-content: space-between;
}

.scroll-item {
    width: 15%;
    height: 100%;
    overflow: hidden;
}

.scroll-item img {
    width: 94%;
}

#prev-btn,
#next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0.65em;
    height: 0.65em;
    background-color: transparent;
    border: none;
    font-size: 2.2em;
    color: white;
    cursor: pointer;
    display: flex;
}

#prev-btn {
    left: 0;
    border: none;
    width: 1.6em;
    height: 1.6em;
    background: #FF5A09;
    border-radius: 10px;
    margin-left: 0.9em;
    cursor: pointer;
    z-index: 1000;
}

#next-btn {
    right: 0;
    border: 1px solid rgba(8, 8, 42, 0.25);
    width: 1.6em;
    height: 1.6em;
    border-radius: 10px;
    background: #FFF;
    cursor: pointer;
    z-index: 1000;
}

#prev-btn img,
#next-btn img {
    margin: auto;
}

.ahead-inner {
    background: #FF5A09;
    border-radius: 15px;
    height: 20em;
    width: 75%;
    margin: auto;
    text-align: center;
    min-width: fit-content;
}

.note {
    color: white;
    font-size: 2.5em;
    font-weight: 650;
    padding: 2em 1.7em;
    white-space: nowrap;
}

.Discover a {
    color: black;
    text-decoration: none;
    background-color: #FFF;
    padding: 1.2em 1.4em;
    border-radius: 7px;
    position: relative;
    justify-content: center;
    font-weight: 600;

}

.Discover a:hover {
    box-shadow: 0 0 20px #000;
    transition-duration: 0.5s;
}

.oh-inner {
    margin-top: 5em;
    margin-left: 5em;
    display: flex;
    
}

.lorem {
    background: #FFF;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 32%;
    height: 24em;
    min-width: fit-content;
}

.lorem h1 {
    color: #FF5A09;
    font-weight: 700;
    font-size: 2.5em;
    padding-left: 0.7em;
    padding-top: 1.5em;
    padding-bottom: 0.7em;
}

.lorem h2 {
    padding-left: 1.5em;
    padding-right: 0.7em;
}

.lorem h3 {
    font-weight: 700;
    padding-left: 1.5em;
    padding-top: 4em;
}

.lorem-nav {
    padding-left: 1.5em;
    padding-top: 2em;
}

.lorem-nav a {
    padding-right: 0.8em;
    width: fit-content;
}

.lorem-nav a img {
    width: 12%;
}

.grad1 {
    position: absolute;
    z-index: -100;
    height: 50em;
    width: 45em;
    top: -100;
    left: 7%;
    border-radius: 50px;
    background: radial-gradient(#A06BFF, #FFF);
    opacity: 0.27;
    filter: blur(130px);
}

.grad2 {
    position: absolute;
    z-index: -100;
    height: 50em;
    width: 45em;
    top: -270;
    right: 10%;
    border-radius: 50px;
    background: radial-gradient(#48D3FF, #FFF);
    opacity: 0.2;
    filter: blur(130px);
}

.col {
    display: flex;
    margin-left: 7em;
    margin-top: 8em;
}

.col h1 {
    font-weight: 700;
    font-size: 1.2em;
    padding-bottom: 1.7em;
    padding-right: 4em;
}

.col a {
    color: #a0a0a0;
}

.col p {
    padding-bottom: 0.9em;
}
.navigation{
    display:none;
}
@media(max-width:430px){
    .menuToggle { 
        position: fixed;
        top:0;
        right:0;
        width: 60px;
        height: 60px;
        background: #FF5A09 url(assets/menu.svg);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        z-index: 1000;
    }
    .menuToggle.active {
        background: orange url(assets/cross.svg);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
    }
    
    .navigation { 
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background:#fff;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    .navigation.active { 
        left: 0px;
    }
    .navigation ul { 
        position: relative;
    }
    
    .navigation ul li { 
        position: relative;
        list-style: none;
        text-align: center;
    }
    
    .navigation ul li a { 
        font-size: 2.5em;
        color: black;
        text-decoration: none;
        font-weight: 300;
        display: inline-block;
        padding: 10px;
        transition: 0.5;
    }
    .navigation ul li a:hover { 
        color:#FF5A09
    }
    .header-line{
        display:none;
    }
    .header{
        width:15em;
    }
    .ideas{
        font-size:2em;
    }
    .mono{
        font-size:1em;
    }
    .package{
        font-size:2em;
    }
    .arrow{
        margin-left:4.5em;
        top:115%;
    }
    .ed{
        padding-left:5em;
        padding-right:0.5em;
    }
    .point img{
        width:15em;
    }
    .button {
        font-size: 0.58em;
    }
    .button a{
        padding: 2em 3.8em;
    }
    .point{
        margin:100px 0;
    }
    .package {
        font-size:1.4em;
    }
    .res{
        font-size:1.2em;
    }
    .sour{
        font-size:1.2em;
    }
    .service p{
        font-size:0.87em;
    }
    .pink{
        left:-50%;
        top:-20%;
    }
    .hero{
        height:32em;
    }
    .why{
        margin-top:27em;
    }
    .ahead-inner{
        width:7em;
        height:14em;
        margin-left:2.1em;
    }
    .note{
        font-size:1.5em;
    }
    .slider-buttons {
        margin-left: 4em;
        margin-right: 0.5em;
        margin-top: 2em;
        }
        .btn-prev {
            border: 1px solid rgba(8, 8, 42, 0.25);
            padding: 0.7em 1.3em;
            border-radius: 10px;
            background: #FFF;
            cursor: pointer;
            margin-left: -7em;
        }
        
        .btn-next {
            border: none;
            padding: 0.7em 1.3em;
            background: #FF5A09;
            border-radius: 10px;
            cursor: pointer;
        }
        .add-in h1{
            font-size:2.3em;
            margin-left:0.5em;
        }
        .slider-container{
            width:27em;
        }
        .slider-item h1 {
            font-size: 0.75em;
            font-weight: 650;
            white-space: nowrap;
        }
        
        .slider-item h2 {
            opacity: 0.6;
            padding-top: 0.35em;
        }
        
        .img-container {
            position: relative;
            width: fit-content;
        }
        
        .img-container img {
            width: 20em;
            height: 17em;
        }
        
        .square1 {
            display: flex;
            align-items: center;
            background: #FFF2E4;
            border-radius: 10px;
            justify-content: space-between;
            padding: 0.9em 2.2em;
        }
        
        .dollar1 {
            font-size: 2.1em;
            color: #FF5B2E;
            font-weight: 700;
        }
        
        .square2 {
            display: flex;
            align-items: center;
            background: #9ACEEB;
            border-radius: 10px;
            justify-content: space-between;
            padding: 0.9em 2.2em;
        }
        
        .cart2 {
            background: black;
            color: white;
            padding: 0.45em 0.5em;
            border-radius: 10px;
            font-size: 1.6em;
            text-decoration: none;
        }
        
        .cart2 a {
            color: white;
        }
        
        .dollar2 {
            font-size: 2.1em;
            color: #00AEBF;
            font-weight: 700;
        
        
        }
        
        .square3 {
            display: flex;
            align-items: center;
            background: #FFE5E5;
            border-radius: 10px;
            justify-content: space-between;
            padding: 0.9em 2.2em;
        }
        
        .dollar3 {
            font-size: 2.1em;
            color: #FF9900;
            font-weight: 700;
        }
        .hero-inner{
            flex-wrap: wrap;
            padding:5em;
        }
        .service{
            padding-left:0.7em;
        }
        .hero{
            width: 100%;
        }
        .grad1{
            width:10em;
            height:5em;
        }
        .grad2{
            height:5em;
        }
        .oh-inner{
            flex-wrap: wrap;
            font-size:1.25em;
            margin:0 0;
        }
        .col{
            flex-wrap:wrap;
            margin:0 0;
            justify-content: space-between;
        }
        .col h1 {
            font-weight: 700;
            font-size: 1.2em;
            padding-bottom: 0.5em;
            padding-right: 0em;
        }
        .col-inner{
            margin-left:0.85em;
            font-size:1em;
            margin-top:1em;
            width: 100px;
        }
        .roz{
            right:5%;
        }
        .scroll-container{
            padding:0.55em 1.35em;
            margin-left: 1.8em;
        }
        #prev-btn {
            left: 0;
            border: none;
            width: 1.25em;
            height: 1.25em;
            background: #FF5A09;
            border-radius: 10px;
            margin-left: 0em;
            cursor: pointer;
            z-index: 1000;
        }
        #next-btn {
            right: 0;
            border: 1px solid rgba(8, 8, 42, 0.25);
            width: 1.25em;
            height: 1.25em;
            border-radius: 10px;
            background: #FFF;
            cursor: pointer;
            z-index: 1000;
        }
        .col{
            margin-left:1.8em;
        }
        .lorem{
            margin-left:1.8em;
        }
        .why-inner{
            margin-left:1.8em;
        }
        .slider-images {
            display: flex;
            width: 200em;
            transition: transform 0.5s ease-in-out;
            overflow-x: hidden;
            justify-content: space-between;
        }
        .scroll-item{
            width: 13%;
            height: 100%;
            overflow: hidden;
            padding-left:0.8em;
        }
        .scroll-item img{
            width:30em;
        }
}
